$color-text-dark: #171b24;
$color-text-grey: #95a0b2;
$color-text-light: #c8ced8;
$color-text-lighter: #ffffff;
$color-text-grey-system: #778295;

$bg-color-darker: #222631;
$bg-color-dark: #292d38;
$bg-color-grey: #dfe3e8;
$bg-color-light: #f3f4f6;
$bg-color-white: #ffffff;

$color-dark-blue: #292d38;
$color-blue: #e30613;
$color-light-blue: #4eb2f5;
$color-purple: #8460e6;
$color-red: #e30613;
$color-dark-red: #c50012;
$color-orange: #f59547;
$color-yellow: #ffd21f;
$color-dark-yellow: #f6c502;
$color-green: #2bcf9c;
$color-dark-green: #20b987;
$color-white: #ffffff;

$overlay-bg-color: rgba(12, 13, 15, 0.2);
