@use 'colors';
@use 'grid';
@use 'variables';

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	color: #444444;
	background: transparent;

	font-family: variables.$font-family;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	width: 6px;
	height: 6px;

	&-thumb {
		border-radius: 0;
		background: #b8c0cc;
	}

	&-track {
		border-radius: 0;
		background: #f3f4f6;
	}
}

#app {
	display: flex;
	flex-direction: column;

	height: 100%;
}

.rc-livechat-mobile-full-screen {
	overflow: hidden;

	width: 100%;
	height: 100%;
}
