@use '../../styles/colors';
@use '../../styles/helpers';
@use '../../styles/variables';

$composer-padding: 8px 8px;
$composer-border-width: variables.$default-border;
$composer-border-color: colors.$color-text-light;
$composer-border-radius: 2px;
$composer-background-color: #f3f4f6;
$composer-focused-border-color: colors.$color-text-grey;

$composer-input-min-height: 36px;
$composer-input-max-height: 150px;
$composer-input-padding: 8px 6px;
$composer-input-color: colors.$bg-color-dark;
$composer-input-font-size: 0.875rem;
$composer-input-font-weight: 500;
$composer-input-line-height: 1.25rem;
$composer-input-placeholder-color: colors.$color-text-light;

.composer {
	display: flex;

	width: 100%;
	min-height: 54px;
	padding: $composer-padding;

	transition: all variables.$default-time-animation;

	border: 1px solid #d4d9e1;
	border-radius: $composer-border-radius;
	background-color: $composer-background-color;
	align-items: flex-end;

	&:focus-within {
		border-color: #9da7b6;
		box-shadow: 0 0 0 1px rgba(41, 45, 56, 0.08);
	}

	&__input {
		overflow-y: auto;
		flex: 1 1 auto;

		min-height: $composer-input-min-height;
		max-height: $composer-input-max-height;
		padding: $composer-input-padding;

		resize: none;

		cursor: text;
		word-wrap: break-word;

		color: $composer-input-color;

		border: none;
		outline: none;
		background: transparent;

		font-size: $composer-input-font-size;
		font-weight: 400;
		line-height: $composer-input-line-height;

		&:empty::before {
			display: block; /* For Firefox */

			overflow: hidden;

			max-width: 100%;

			content: attr(data-placeholder);
			white-space: nowrap;

			text-overflow: ellipsis;

			color: $composer-input-placeholder-color;
		}
	}

	&--connecting {
		.composer__input {
			cursor: default;
		}
	}
}
