.message-avatars {
	display: flex;

	min-width: 32px;
	padding: 0 8px 15px 2px;
	align-self: end;
	flex-flow: row nowrap;

	&__avatar {
		margin: 0 -5px;

		box-shadow: none;

		&:first-child {
			box-shadow: none;
		}
	}
}
