.leave-message {
	p {
		margin-top: 0;
	}

	&__main {
		padding: 0 1.5rem;
	}

	&__message {
		margin: 0 0 1rem;

		text-align: center;
		font-weight: 500;
		line-height: 1.5;
	}
}

.offline_msg {
	text-align: center;
}
